body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: rgb(240,240,240);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

header {
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}

.share-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.share-button svg {
    margin-left: 12px;
    margin-top: 10px;
    color: rgb(0,0,0);
}

.container {
    width: 91%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 20px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: rgb(240,240,240);
}

.tile {
    width: 100%;
    margin: 7px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
}

.tile:hover {
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
    transform: scale(1.02);
}

.tile:hover .icon{
    transition: initial;
    animation: spin-bounce 1s infinite alternate; 
    transform: rotateY(180deg) rotateZ(15deg) scale(1.1); 


}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}


@keyframes spin-bounce {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(1.3) rotate(360deg);
    }
}
.tile-share-button {
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.tile-share-button svg {
    margin-left: 12px;
    margin-top: 10px;
}


.image-container {
    height: 300px;
    width: 300px;
    border-radius: 73px;
    overflow: hidden;
}

.image-container img {
    height: 100%;
}

.icon {
    margin: 4px 8px;
    width: 44px;
    height: 44px;
}
.icon2 {
    margin: 4px 8px;
    width: 44px;
    height: 44px;
}

.tile:hover .icon2{
    animation: bounce 0.8s infinite alternate;

}@keyframes bounce {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}
@font-face {
    font-family: 'Gotham Medium';
    src: url('Gotham Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GE SS Two Bold';
    src: url('GE SS Two Bold.otf') format('opentype');
 
}
.font-title{
    font-family: 'GE SS Two Bold';
}

body {
    font-family: 'Gotham Medium', Arial, sans-serif;
}
.custom-address {
    font-size: 18px;
    color: #ffffff; /* اللون */
    text-align: center; /* محاذاة النص */
    font-weight: bold; /* خط عريض */
    letter-spacing: 0.5px; /* تباعد بين الأحرف */
    margin-top: 10px; /* مسافة فوق العنوان */
    margin-bottom: 5px; /* مسافة تحت العنوان */
    white-space: nowrap; /* لضمان بقاء النص في سطر واحد */
    text-overflow: ellipsis; /* إظهار "..." إذا كان النص طويلًا جداً */
}

.copyright {
    font-size: 12px;
    color: #999999;
    text-align: center;
    margin-top: 10px;
    font-family: Arial, sans-serif;
}
